<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/reg.css" rel="stylesheet" />
    {% include 'MainCSJS.html' %}
  </head>

  <body>
    <section class="signup" style="margin-top: 50px">
      <div class="container">
        <div class="inline-block">
          <h1 class="text-center header" style="font-weight: bold">Login</h1>
          <div class="signup-content">
            <center>
              <div class="signup-form">
                <form style="width: 100%" action="{{ url_for('loginBackend') }}" method="POST">
                
                  <div class="inner-addon left-addon form-gruoup">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <input
                      class="form-control"
                      placeholder="E-mail"
                      type="text"
                      name="email"
                      placeholder="Email address"
                      id="edd-email"
                      value=""
                      required=""
                    />
                  </div>
                  <div class="inner-addon left-addon form-gruoup">
                    <i class="glyphicon glyphicon-lock"></i>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      name="password"
                      required=""
                    />
                  </div>
               
                  <input
                    class="btn btn-primary btn-border-radius btn-lg"
                    type="submit"
                    id="edd-purchase-button"
                    name="edd-purchase"
                    value="Sign IN"
                    style="margin-top: 40px"
                  />
                </form>
                <a href="/Register"
                    class="btn btn-primary btn-border-radius btn-lg"
                    type="submit"
                    id="edd-purchase-button"
                    name="edd-purchase"
                    value="Login"
                    style="margin-top: 40px">Register
                </a>
              </div>
            </center>
          </div>
        </div>
      </div>
    </section>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
