<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/reg.css" rel="stylesheet" />
    {% include 'MainCSJS.html' %}
  </head>

  <body><script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '305966654242113',
        cookie     : true,
        xfbml      : true,
        version    : 'v10.0'
      });
        
      FB.AppEvents.logPageView();   
        
    };  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk')); 
<fb:login-button 
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>

function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}
  </script>
  <script>
    var finished_rendering = function() {
      console.log("finished rendering plugins");
      var spinner = document.getElementById("spinner");
      spinner.removeAttribute("style");
      spinner.removeChild(spinner.childNodes[0]);
    }
    FB.Event.subscribe('xfbml.render', finished_rendering);
    </script>
    <div id="fb-root">
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v10.0&appId=168666095142845&autoLogAppEvents=1" nonce="VHi0WYMf"></script>
  </div>
    <section class="signup" style="margin-top: 50px">
      <div class="container">
        <center><img src="/static/image/MichLean.gif" width="300" height="300" ></center>
        <div class="inline-block">
          <h1 class="text-center header" style="font-weight: bold">Login</h1>
          <div class="signup-content">
            <center>
              <div class="signup-form">
                <form style="width: 100%" action="{{ url_for('loginBackend') }}" method="POST">
                
                  <div class="inner-addon left-addon form-gruoup">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <input
                      class="form-control"
                      placeholder="E-mail"
                      type="text"
                      name="email"
                      placeholder="Email address"
                      id="edd-email"
                      value=""
                      required=""
                    />
                  </div>
                  <div class="inner-addon left-addon form-gruoup">
                    <i class="glyphicon glyphicon-lock"></i>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      name="password"
                      required=""
                    />
                  </div>
               
                  <input
                    class="btn btn-primary btn-border-radius btn-lg"
                    type="submit"
                    id="edd-purchase-button"
                    name="edd-purchase"
                    value="Sign IN"
                    style="margin-top: 40px"
                  />
                </form>
                <a href="/Register"
                    class="btn btn-primary btn-border-radius btn-lg"
                    type="submit"
                    id="edd-purchase-button"
                    name="edd-purchase"
                    value="Login"
                    style="margin-top: 40px">Register
                </a>
              </div>
              <div class="fb-login-button" data-width="" data-size="medium" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false"></div>
            </center>
          </div>
        </div>
      </div>
    </section>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
