{% block styles %}
<link
  href="{{ url_for ('static', filename='css/web.css') }}"
  rel="stylesheet"
/>
<link
  href="{{ url_for ('static', filename='css/bootstrap.min.css') }}"
  rel="stylesheet"
/>
<link
  href="{{ url_for ('static', filename='css/reg.css') }}"
  rel="stylesheet"
/>
{% endblock %}
<!-- scripts -->
{% block scripts %}
<script src="{{ url_for ('static', filename='/static/js/script.js') }}"></script>
<script src="{{ url_for ('static', filename='js/jquery-1.12.4.min.js') }}"></script>
<script src="{{ url_for ('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}
